<div class="row">
    <div class="co-md-12 col-lg-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">لیست مطالب</h4>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>نویسنده</th>
                            <th>دیدگاه</th>
                            <th>در پاسخ به</th>
                            <th>ارسال شده</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- iterate over array ( i < array.length ) -->
                        {{#each comments}}
                        <tr class="comment-row">
                            <td>
                                <div class="d-flex commenter">
                                    <div class="avatar mr-10 mb-10">
                                        <img src="{{this.userAvatar}}" alt="">
                                    </div>
                                    <div class="name mr-10 mt-10">
                                        {{this.user_name}}
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="comment">
                                    {{this.comment}}
                                </div>
                                <div class="comment-operations mt-10">
                                    <a class="button button-xs button-success" href=""><span>تایید</span></a>
                                    <a class="button button-xs button-warning" href=""><span>رد</span></a>
                                    <a class="button button-xs button-danger" href=""><span>حذف</span></a>
                                </div>
                            </td>
                            <td>
                                <a href="">{{this.title}}</a>
                            </td>
                            <td>{{this.created_at_persian}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>